body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px; /* Defina um valor máximo para o formulário */
}

label {
  display: block;
  margin-bottom: 6px;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

.error,
.success {
  margin-top: 10px;
}

/* Adicione regras de mídia para ajustar o layout em dispositivos menores */
@media screen and (max-width: 600px) {
  form {
    max-width: 100%; /* Ajuste para telas menores */
  }
}
.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
  
  }
